@font-face {
    font-family: 'Bitter';
    src: url('./fonts/bitter-bold-webfont.woff2') format('woff2'),
        url('./fonts/bitter-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Bitter';
    src: url('./fonts/bitter-italic-webfont.woff2') format('woff2'),
        url('./fonts/bitter-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bitter';
    src: url('./fonts/bitter-regular-webfont.woff2') format('woff2'),
        url('./fonts/bitter-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-Regular.woff2') format('woff2'),
        url('./fonts/WorkSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-Italic.woff2') format('woff2'),
        url('./fonts/WorkSans-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-Bold.woff2') format('woff2'),
        url('./fonts/WorkSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-BoldItalic.woff2') format('woff2'),
        url('./fonts/WorkSans-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

html {
    box-sizing: border-box;
    line-height: 1.4;
    font-size: 100%;
    color: #333;
    font-family: "Work Sans",
    Frutiger,
    "Frutiger Linotype",
    Univers,
    Calibri,
    "Gill Sans",
    "Gill Sans MT",
    "Myriad Pro",
    Myriad,
    "DejaVu Sans Condensed",
    "Liberation Sans",
    "Nimbus Sans L",
    Tahoma,
    Geneva,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}

h1, h2, h3 {
    font-family: "Bitter",
    "Palatino Linotype",
    Palatino,
    Palladio,
    "URW Palladio L",
    "Book Antiqua",
    Baskerville,
    "Bookman Old Style",
    "Bitstream Charter",
    "Nimbus Roman No9 L",
    Garamond,
    "Apple Garamond",
    "ITC Garamond Narrow",
    "New Century Schoolbook",
    "Century Schoolbook",
    "Century Schoolbook L",
    Georgia,
    serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    max-width: 100ch;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin: 3em auto 3em auto;
}

ul {
    padding-left: 0;
    margin: 0;
}

li {
    list-style-type: none;
    padding-left: 15px;
}

li::before {
    content: '';
    float: left;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    width: 15px;
    margin-left: -15px;
}

h1 {
    font-size: 2.4em;
    margin: 0;
}

h2 {
    font-size: 1.4em;
    margin: 0;
}

h3, h4, h5, h6, p, span {
    font-size: 1em;
    margin: 0;
}

header h1, address{
    text-align: center;
}

#work_history div, #education div {
    display: flex;
    justify-content: space-between;
}

#skills ul li {
    padding-left: 0;
}

#skills ul li::before {
    list-style-type: none;
}

#skills ul li h3 {
    display: inline;
}

header {
    margin-bottom: 2.5em;
}

h2 {
    margin-bottom: 0.1em;
}

.work_entry {
    margin-bottom: 1em;
}

section {
    margin-bottom: 2.5em;
}